<div class="container">
    <section id="cart">
        <div>
            <h1>My Profile</h1>
            <article class="product">
                <header>
                    <a class="remove">
                        <img [src]="currentUser.profileUrl" />
                        <h3>{{ currentUser.publicName }}</h3>
                    </a>
                </header>

                <div class="content">
                    <h4>Login : {{ currentUser.username }} </h4>
                    <h4>Display Name : {{ currentUser.publicName }} </h4>
                    <h4>Card Info :  {{ currentUser.creditCardBank }}- {{ currentUser.creditCard }} </h4> 
                  
                </div>
                <footer class="content text-right">
                    <div class="button-container right">
                        <button class="button small" type="submit"><span>Update</span></button>
                        <button class="button small" type="submit"><span>Cancel</span></button>
                    </div>
                </footer>
            </article>
        </div>


    </section>
    <h1><br/></h1>
    <h1><br/></h1>
    <h1><br/></h1>
</div>