
 
<div class="container">  <h1>Login</h1> 
  <form [formGroup]="loginForm" (submit)="performLogin()"   >
 
    <div class="form-group">
      <input type="text" formControlName="userName" required="required"/>
      <label class="control-label" for="input">Username</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="password"  formControlName="userPassword" required="required"/> 
      <label class="control-label" for="input">Password</label><i class="bar"></i>
    </div>
    
    <div class="checkbox">
      <label>
        <input type="checkbox" checked="checked"/><i class="helper"></i>Remember me?
      </label>
    </div>   
    
  <div class="button-container">  
    <button class="button" (click)="performLogin()" type="submit"><span>Login</span></button> 
    <button class="button" (click)="performReset()" type="clear"><span>Clear</span></button> 
  </div>
  </form>
</div>

 