<div *ngIf="!isShowingInfo" class="product-card-wrapper">
    <div *ngFor="let saleItem of salesList">
        <figure class="product-card">

            <i class="fa fa-{{getFriendlyLogo(saleItem.skuCode)}}"></i>
            <div class="product-logo">
                <i class="fa fa-{{getFriendlyLogo(saleItem.skuCode)}}"></i>
            </div>
            <div class="price">${{ (saleItem.price)}}</div>
            <figcaption>
                <h3>{{getFriendlyTitle(saleItem.skuCode)}} <i (click)="displayMoreInfo(saleItem.skuCode)" class="fa fa-info-circle"></i></h3>
                <p> {{getFriendlyDescription(saleItem.skuCode)}}</p>

                <p *ngIf="getDiscountInfo(saleItem.skuCode)"><br><b>Discount Entitlement: </b>{{getDiscountInfo(saleItem.skuCode)}} </p>
                <p *ngIf="getExpiryDate(saleItem.skuCode)"><b> Expiring In :</b> {{ countDown | async}} seconds. Hurry!

                </p>
                <h4> <br> <br> <b>Cart Quantity : </b> {{ quantityInCart[ saleItem.skuCode] || 0 }}
                    <i (click)="removeFromCart(saleItem.skuCode);" class="fa fa-sort-down"></i>
                    <br></h4>
                <a class="product-button" (click)="addToCart(saleItem);">Add   <i class="fa fa-sort-up"></i></a>
            </figcaption>
        </figure>
    </div>


</div>



<!--start info section-->
<div class="container" *ngIf="isShowingInfo">

    <section class="cart">
        <div class=" " (click)="isShowingInfo =false">
            <i class="fa  fa-times fa-4 text-right" aria-hidden="true"></i>

            <h1>
                <i class="fa fa-{{getFriendlyLogo( currentSkuCode)}}  fa-6" aria-hidden="true"></i> {{getFriendlyTitle( currentSkuCode)}}

            </h1>
            <h3>
                <i class="fa fa-info-circle" aria-hidden="true" (click)="isShowingInfo = false"></i> {{getFriendlyDescription(currentSkuCode)}}</h3>
            <img class="" src="assets/images/{{getFriendlyPreview(currentSkuCode) }}" alt="alt image" />
        </div>


    </section>
    <h1><br/></h1>
    <h1><br/></h1>
</div>

<!--end info section-->

<div id="product-buy-button" class="product-buy-button">

    <figure class="product-card  " (click)="buyNow()">
        <figcaption>
            <p class="product-buy-link">
                <i class="fa fa-shopping-cart " aria-hidden="true"></i>
            </p>
            <a>Buy Now</a>
        </figcaption>
    </figure>
</div>