.product-card-wrapper{
    margin:1em ;
} 
figure.product-card { 
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

&.larger{
    max-width:520px;
}
&.checkout{
    min-width: 55px;
    margin: 0px;
    max-width: 120px;
    float: right;
}
table{
    border-collapse: collapse;
    .header-line{
        border-bottom:solid 2px black;
    }
    td,th{
        min-width:125px;
        padding:5px; 
    }
    .footer-line{
        border-top:solid 2px black;
    }

}
.product-button{
    cursor: pointer;
    &:hover{
        opacity:.75
    }
}

    
     * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }
     img {
    max-width: 100%;
    vertical-align: top;
    }
     figcaption {
    position: relative;
    background-color: #ffffff;
    padding: 20px 25px 50px;
    min-height:350px;
    }

    .product-logo{ 
        background-color: white;
        min-height: 140px;
        text-align: center;
        margin: 5px;
        padding: 10px;
 
        i{ 
            font-size: 60px;
            max-width: 100%;
            color:#0b253e;	
            vertical-align: top;
        }
    }

     h3 {
    position: absolute;
    bottom: 100%;
    text-transform: uppercase;
    padding: 0px 25px;
    line-height: 44px;
    margin: 0;
    left: 0;
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;

        span {
            font-weight: 800;
        }
        &:before {
            position: absolute;
            left: 100%;
            border-style: solid;
            border-width: 44px 0 0 12px;
            border-color: transparent transparent transparent #000000;
            content: '';
            top: 0;
        }
    }
  
     p {
        font-size: 0.8em;
        font-weight: 500;
        text-align: left;
        margin: 0;
        line-height: 1.6em;
    }
     .price {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        background-color: #000000;
        padding: 0 10px;
        line-height: 40px;
        font-weight: 800;

        
        &:before {
            position: absolute;
            right: 100%;
            border-style: solid;
            border-width: 0 12px 40px 0;
            border-color: transparent #000000 transparent;
            content: '';
            top: 0;
        }
    }
     a {
        text-decoration: none;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #000000;
        line-height: 40px;
        padding: 0 10px;
        color: #ffffff;
        font-weight: 800;
        font-size: 0.9em;
        text-transform: uppercase;
        
        &:before {
            position: absolute;
            right: 100%;
            border-style: solid;
            border-width: 0 0 40px 12px;
            border-color: transparent transparent #000000;
            content: '';
            top: 0;
        }
    }
    .blue {
        background-color: #2472a4;
        
        h3,     a,     .price {
         background-color: #2472a4;
        }
        
        .price:before {
         border-color: transparent #2472a4 transparent;
        }
        h3:before {
         border-color: transparent transparent transparent #2472a4;
        }
        a:before {
            border-color: transparent transparent #2472a4;
        }
    }
    .red {
    background-color: #ab3326;
        h3,     a,     .price {
         background-color: #ab3326;
        }

        .price:before {
            border-color: transparent #ab3326 transparent;
        }
        h3:before {
            border-color: transparent transparent transparent #ab3326;
        }
        a:before {
            border-color: transparent transparent #ab3326;
        }
    }
    
  
    .orange {
        background-color: #d67118; 
        
        h3,
        a,
        .price {
        background-color: #d67118;
        }
        .price:before {
        border-color: transparent #d67118 transparent;
        }
        h3:before {
        border-color: transparent transparent transparent #d67118;
        }
        a:before {
        border-color: transparent transparent #d67118;
        }
    }
    :hover img,
    .hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.product-buy-button{ 
    position: fixed;
    bottom: 0px;
    right: 0;
    padding: 5px;
    margin: 15px;
    cursor:pointer;
    opacity:.86;
    min-width: 165px;

    
    figure.product-card{ 
        min-width: 135px;
            figcaption{
                    min-height: 35px;
            }
    }
    &:hover{
        opacity:.65;
        transform: rotate(-3deg) scale(1.11)     ;
    }
    .product-buy-link{ 
        font-size: 50px;
        text-align: center;
        color:#53b5aa ; 
       color: #0b253e;	
    }
    
}

	@media screen and (max-width:820px){
        .product-buy-button{ 
            margin: 3px;
            padding: 3px;
            min-width: 65px;
           
          
        }
        .product-buy-button figure.product-card{  
            min-width: 65px; 
            margin: 0; 
        }

        .checkout{
            a{
                display:none;
            }
            height:110px;
        } 
    }