<div *ngIf="isShowingInfo " class="product-card-wrapper center-block">
    <figure *ngIf=" showingCategory=='info'" class="product-card larger">
        <div class="price">  </div>
        <figcaption>
            <h2>As part of your loyalty, we want to reward you for using our services </h2>
            <h4> Also , we want to show you the value by comparing the amount you will save. </h4>
            <h4> There will be limit on time offer.. Please contact our marketing rep for more promo </h4>
            <a (click)="isShowingInfo = false" class="product-button"><i class="fa fa-chevron-left"></i>
            Okay, Awesome!</a>
        </figcaption>
    </figure>
    <figure *ngIf=" showingCategory=='payment'" class="product-card larger">
        <div class="price">  </div>
        <figcaption>
            <h2> Ooops</h2>
            <h4> Payment gateway under maintenance contract review process. </h4>
            <a (click)="isShowingInfo = false" class="product-button"><i class="fa fa-chevron-left"></i>
            Ok, please fix it...!</a>
        </figcaption>
    </figure>


</div>


<div *ngIf="!isShowingInfo" class="product-card-wrapper center-block">
    <figure class="product-card larger">
        <div class="price"> Total</div>
        <figcaption>
            <table border="0">
                <tr>
                    <th colspan="2"> Before Discounts </th>
                </tr>
                <tr>
                    <th colspan="2"> </th>
                </tr>
                <tr class="header-line">
                    <th>Product</th>
                    <th class="align-right"> Quantity($) </th>
                    <th class="align-right"> Amout($) </th>
                </tr>

                <!--start listing contents-->
                <tr *ngFor="let purchaseGroup of listPurchase   ">
                    <th>{{getFriendlyTitle(purchaseGroup.skuCode)}} </th>
                    <th class="align-right"> {{ (purchaseGroup.totalUnit| number : '1.0')}} </th>
                    <th class="align-right"> {{ (purchaseGroup.totalAmount | number : '1.2-2')}} </th>
                </tr>
                <!-- end listing contents-->
                <!-- start summary-->
                <tr class="footer-line">
                    <th colspan="1" class="text-left">Total: </th>
                    <th colspan="1" class="align-right"> {{ (listPurchaseSummary.totalUnits| number : '1.0')}} </th>
                    <th colspan="1" class="align-right"> {{ (listPurchaseSummary.totalAmounts | number : '1.2-2')}} </th>

                </tr>
                <!--end summary-->
            </table>


            <a (click)="isShowingInfo = true;showingCategory='info'; " class="product-button"><i class="fa fa-info-circle"></i> What is this?</a>
        </figcaption>
    </figure>



    <figure class="product-card larger">
        <div class="price"> Total</div>
        <figcaption>
            <table border="0">
                <tr>
                    <th colspan="2"> After Discounts </th>
                </tr>
                <tr>
                    <th colspan="2"> </th>
                </tr>
                <tr class="header-line">
                    <th>Product</th>
                    <th class="align-right"> Quantity($) </th>
                    <th class="align-right"> Amout($) </th>
                </tr>

                <!--start listing contents-->
                <tr *ngFor="let purchaseGroup of listPurchaseDiscount   ">
                    <th>{{getFriendlyTitle(purchaseGroup.skuCode)}} </th>
                    <th class="align-right"> {{ (purchaseGroup.totalUnit| number : '1.0')}} </th>
                    <th class="align-right"> {{ (purchaseGroup.totalAmount | number : '1.2-2')}} </th>
                </tr>
                <!-- end listing contents-->
                <!-- start summary-->
                <tr class="footer-line">
                    <th colspan="1" class="text-left">Total: </th>
                    <th colspan="1" class="align-right"> {{ (listPurchaseSummaryDiscount.totalUnits| number : '1.0')}} </th>
                    <th colspan="1" class="align-right"> {{ (listPurchaseSummaryDiscount.totalAmounts | number : '1.2-2')}} </th>

                </tr>
                <!--end summary-->
            </table>


            <a class="product-button" (click)="payNow( );">Pay Now  <i class="fa fa-credit-card"></i></a>
        </figcaption>
    </figure>
</div>


<div id="product-buy-button" class="product-buy-button">

    <figure class="product-card checkout " (click)="buyMore()">
        <figcaption>
            <p class="product-buy-link">
                <i class="fa fa-refresh " aria-hidden="true"></i>
            </p>
            <a>    Buy More</a>
        </figcaption>
    </figure>
</div>