

 :host /deep/  {
	
body{
	padding: 0;
	margin: 0;
	background-color: #777;
	background-image: url('http://i.huffpost.com/gen/1756953/images/o-CHEFS-LIFE-facebook.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  30% {
    opacity: 1;
    transform: scale(1.05);
  } 

  60% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

header *{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		z-index:10;
	}


header{
	height: 120px;
	width: 100%;
	position: relative;
	
	 
	background-color: white;
	box-shadow: 0px 2px 5px rgba(0,0,0,.4);

	&.sticky{
		
		position: fixed;
		top: 0;
		z-index: 100;

    	height: 75px; 
		.head{
			top:10px;
		}
		.mainlogo{ 
			width: 130px;
			padding-top: 10px;
		}
	}
}
.mainlogo{
	width: 95px;
	width: 205px;
	padding-top: 15px; 
	display: block;
	margin: 0 auto;
	opacity:.95;

	
	animation: bounceIn 0.6s;
	transform: rotate(0deg) scale(1) translateZ(0);
	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
	cursor: pointer;
	
	&:hover {
		// transform: rotate(-5deg) scale(1.5)     ;
		transform: rotate(-0deg) scale(1.15)     ;
		opacity:.85;
	}

}
.head{
	position: absolute;
	top: 35px;
	right: 50px;

	.tile{
		display: inline-block;
		height: 50px;
		width: 50px;
		margin-left: 5px;
		transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
	}
}
 
 
 
.head .burger{
	margin-left: 25px;
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
}
.meat{
	height: 40px;
	width: 40px;
	position: relative;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;

	.line{
		height: 4px;
		width: 40px;
		background-color: #0b253e;
		border-radius: 3px;
		position: absolute;
		transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;

		&.one{top: 5px; left: 0px;}
		&.two{top: 18px; left: 0px;}
		&.three{top: 31px; left: 0px;}
	}

}

header.clicked {

	.head .burger .meat{
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	

	.burger .line{
		background-color: white;

		&.one{
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			top: 18px;
		}
		&.two{
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			top: 18px;
		}
		&.three{
			opacity: 0;
		}
	}

	.burger:hover .meat{
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
	}

	.nav-modal{
		visibility: visible;
		opacity: 1;
		pointer-events: initial;
		.blob{
			width: 100vw;
			height: 100vh;
			border-radius: 0px;
		}
	}

	nav{
		opacity: 1;
	}


}








.nav-modal{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	pointer-events: none;

	.blob{
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		margin: 0 auto;
		background-color:  #0b253e;
		background-color:  rgba(11, 37, 62, 0.85);
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transition: all .3s ease-in;
	}
}
 
 
nav{
	position: fixed;
	left: 20%;
	top: 30%;
	color: white;
}
nav a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}
nav ul li{
	list-style: none;
	text-align: right;
	border-right: 6px solid white;
	padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
}
nav{
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}
 
nav ul li {


	ul{
		position: absolute;
		right: -300px;
		top: -4px;
		display: none;

		li{
			border: none;
			padding-bottom: 10;
			padding-left: 10px;
			height: 50px;
			width: 300px;
			a{
				display: block;
				height: 50px;
				font-size: 20px;
				text-align: left;
				padding: 10px;
			}

		}
	}

	&.selected ul{
		display: block;
	}

	&.not-selected a{
		opacity: .5;
	}
	&.selected ul li a{
		opacity: 1;
	}

}





@media screen and (max-width:820px){
	.mainlogo{margin-left: 30px;}
}
@media screen and (max-width:580px){
	.mainlogo{width:  150px; padding-top: 25px;}

	nav ul li{ 
		a{
			font-size: 16px;
		}
		ul{
			top: -9px;
		}
		ul li{
			height: 40px;
		}
		ul li a{
			font-size: 16px;
			height: 40px;
		}

	}
}
@media screen and (max-width:500px){
	// .mainlogo{display: none;}
}
 
}