
<header [class]="stickyStateClass" [class]="mainMenuStateClass">
  <a href="#/">  <img class="mainlogo" src="assets/images/seekasia.png" alt="alt image"/></a>  

    <div class="nav-modal">
        <div class="blob"></div>
        <nav>
            <ul> 

                <li *ngFor="let menu of menuList" [class]="menu.classState">
                    <a (click)="performContentMenuToggle(menu)" href="{{menu.url}}">{{menu.title}} </a>
                    <ul *ngIf="menu.children">
                        <li *ngFor="let childMenu of menu.children" [class]="childMenu.classState"><a 
                        (click)="performChildMenuToggle(menu.children,childMenu)"
                        href="{{childMenu.url}}"> {{childMenu.title}}</a></li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
    <div class="head"> 
        <div class="tile burger" (click)="performMainMenuToggle()">
            <div class="meat">
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
            </div>
        </div>
    </div>
</header>