  :host /deep/  {
        
 $common-height:240px; 
 $common-base-color: #0b253e;	
//  $common-base-color;
i{  
	cursor:pointer;
	&:hover{
			opacity:.8;
	}
}

.clearfix {
  content: "";
  display: table;
  clear: both;	
}
 
#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;

	& :hover {
		color: $common-base-color;
	}
}


 
.container {
	// font-family: 'Open Sans', sans-serif;
	// margin: 0 auto;
	// width: 980px;
}

.cart {
	width: 100%;
	
	h1 {
		font-weight: 300;
		text-align:left;
	}

	a {
		color: $common-base-color;
		text-decoration: none;

		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;

		a:hover {
			color: #000;
		}
	}
}


  
.product {
	&.removed {
		margin-left: 980px !important;
		opacity: 0;
	}


	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
		height:  $common-height; 
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;

	img {
		width: 100%;
		height: 100%;
	}
}
 

.product header, .product .content {
	background-color: #fff;
	// border: 1px solid #ccc; 
	float: left;
}
.product .content{
	border: 0px solid transparent !important; 
}

.product header {
	background: #000;
    background:#0b253e;	
    background-color:  rgba(11, 37, 62, 0.85);
	
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
		height:  $common-height; 

    i{ 
        font-size: 200px;
        padding: 15px;
		cursor:pointer;
		&:hover{
			opacity:.8;
		}
    }

		
	&:hover{ 
		img {
			opacity: .7;
		}

		h3 {
			bottom: 73px;
		}
	}

	h3 {
		background: $common-base-color;
		opacity: .85;
		border: solid white 1px;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		line-height: 49px;
		margin: 0;
		padding: 0 30px;
		position: absolute;
		bottom: -50px;
		right: 0;
		left: 0;

		-webkit-transition: bottom .2s linear;
		-moz-transition: bottom .2s linear;
		-ms-transition: bottom .2s linear;
		-o-transition: bottom .2s linear;
		transition: bottom .2s linear;
	}	
}


.remove {
	cursor: pointer;
}

.product{

	.content {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 140px;
		padding: 0 20px;
		width: 75%;
		
   		 border: 0px solid transparent; 
	}

	h1 {
		color: $common-base-color;
		font-size: 25px;
		font-weight: 300;
		margin: 17px 0 20px 0;
	}

	footer.content {
		height: 50px;
		margin: 6px 0 0 0;
		padding: 0;
	}

	footer .price {
		background: #fcfcfc;
		color: #000;
		float: right;
		font-size: 15px;
		font-weight: 300;
		line-height: 49px;
		margin: 0;
		padding: 0 30px;
	}

	footer .full-price {
		background: $common-base-color;
		color: #fff;
		float: right;
		font-size: 22px;
		font-weight: 300;
		line-height: 49px;
		margin: 0;
		padding: 0 30px;

		-webkit-transition: margin .15s linear;
		-moz-transition: margin .15s linear;
		-ms-transition: margin .15s linear;
		-o-transition: margin .15s linear;
		transition: margin .15s linear;
	}
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: $common-base-color;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

.site-footer {
	margin: 30px 0 0 0;
}

.site-footer {
	padding: 40px;
		
	h1 {
		background: #fcfcfc;
		border: 1px solid #ccc;
		border-style: none none solid none;
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 7px 0;
		padding: 14px 40px;
		text-align: center;
	}

	h2 {
		font-size: 24px;
		font-weight: 300;
		margin: 10px 0 0 0;
	}

	h3 {
		font-size: 19px;
		font-weight: 300;
		margin: 15px 0;
	}
}



.left {
	float: left;
}

.right {
	float: right;
}
 

.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}
 
 
 


	@media screen and (max-width:820px){
		.container{
			min-height:100vh;
			height:2100px;
		}
		.product{
				min-height:530px; 
				header,.content{
					width:100%;
				}  
				
				.content{
					min-height:235px; 
				}  
				footer.content{
					min-height:85px;
					width:100%;
				}
		}  
	}
}
 