<div class="container">

    <section class="cart">
        <!--start info section-->
        <div *ngIf="isShowingInfo" class=" " (click)="isShowingInfo =false">
            <i class="fa  fa-times fa-4 text-right" aria-hidden="true"></i>

            <h1> 
                <i  class="fa fa-{{getFriendlyLogo( currentSkuCode)}}  fa-6" 
                aria-hidden="true"></i> {{getFriendlyTitle( currentSkuCode)}}
 
            </h1>
            <h3>
                <i class="fa fa-info-circle" aria-hidden="true" (click)="isShowingInfo = false"></i> {{getFriendlyDescription(currentSkuCode)}}</h3>
            <img class="" src="assets/images/{{getFriendlyPreview(currentSkuCode) }}" alt="alt image" />
        </div>
        <!--end info section-->

        <!--start content section-->
        <div *ngIf="!isShowingInfo && subscriptionList.length> 0">

            <h1>My Subscriptions</h1>
            <article class="product" *ngFor="let subscription of subscriptionList">
                <header (click)="displayMoreInfo(subscription.skuCode)">
                    <a class="remove">
                        <i class="fa fa-{{getFriendlyLogo(subscription.skuCode)}} fa-6" aria-hidden="true"></i>
                         <h3>{{getFriendlyTitle(subscription.skuCode) }}</h3>
                    </a>

                </header>

                <div class="content">

                    <h1>{{getFriendlyTitle(subscription.skuCode) }}
                        <i (click)="displayMoreInfo(subscription.skuCode)" class="fa fa-info-circle" aria-hidden="true"></i>
                    </h1>
                    <h3> Unit Available: {{subscription.unit}}</h3>
                    <h3> Validity: {{subscription.startDate}} - {{subscription.expiryDate}} </h3>
                    <h3> Remaining Days: {{getRemainingDate(subscription.expiryDate)}} </h3>


                    <div class="  text-right">
                        <div class="button-container right">
                            <button class="button small" type="submit"><span>Use Now</span></button>
                            <button class="button small" type="submit"><span>Buy More</span></button>
                        </div>
                    </div>
                </div> 
            </article>
        </div>

        <!--end content section-->


    </section>
    <h1><br/></h1>
    <h1><br/></h1>
    <h1><br/></h1>
</div>