 :host /deep/  {
   .text-strike{
       text-decoration:line-through; 
  }
  
   .text-underline{
      text-decoration:underline;
  }
   .text-italic{
      font-style:italic;
  }
 
   .text-bold{
      font-weight:bold;
  }
}
