

 @mixin full-screen-block( ) {    
    height:100%;
    min-width: 100%;
    min-height: 120%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    // height: 100%;
    overflow:hidden;
    display:block;
 }

 @mixin center-screen-block( ) {    
        position: absolute;
        display:block;
        left: 45%;
        top: 45%;
 }

 
.main-container{
    position:absolute; 
    @include full-screen-block( ) ;  
    /*changes*/
    padding-left:50px;
    overflow-y:auto;
}

:host-context() .loading-canvas , :host-context() .loading-xhr-canvas{
      position:absolute;
      @include full-screen-block( ) ;  
      top:0; 
      left:0;  
      z-index:900; 
      background-color:rgba(255,255,255,.8);
   
  &>.text-loader{  
      @include full-screen-block( ) ;  
     @include center-screen-block( ) ;  
     font-weight: bold;
     font-size:x-large ;
     color: black; 

     img{ 
       opacity:0.5;   
       width: 75px;
       height: 75px;
     }
     
  } 
}
    
.generic-loader-overlay{
        background-color:rgba(0,0,0,.75);
        opacity:0.85;   
        position:fixed;  
        top:0px;
        overflow:hidden;
        width:100%;
        height:100%;
        display:block; 
        z-index:10;
    
}  



 :host /deep/  {
        
    .main-body{
        padding: 0;
        margin: 0; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index:1;
    }

    .body-background{
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: .95; 
        z-index:0;
        filter:blur(5px);
    }

 }