 
<div class="loading-xhr-canvas" *ngIf="apiLoader.isLoading">
    <div class="text-loader">
        <img class=" " src="assets/images/loading.gif" alt="logo" />
    </div>
</div>
 

<img  src="assets/images/background.jpg"  class="body-background"/> 
<div class="main-body"> 

    <header-outlet></header-outlet>
    <router-outlet class=" {{currentTheme}}"></router-outlet>


</div>
