 
.max-form-width{
    widtH:795px;
}

.main-container{
    overflow:hidden;
    position:absolute; 
    /*changes*/
    height:100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding-left:50px;
}