
 
<div class="container"> 

    <h1> </h1> 
    <h1>You have been logged Out</h1> 
    <h1> </h1>  
    <h3>Your logged out time {{currentTime}}</h3> 
    <h3>Thank you for using our service</h3> 
    <h1> <br></h1> 
    <h1> <br></h1> 
    <h1> <br></h1> 
  
</div>

 